.attractions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1400px;
}

.attraction {
  width: 45%;
  margin: 10px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.attraction img {
  width: 100%;
  border-radius: 1rem;
}

/* .attraction:hover {
  transform: scale(1.02);

}  */

@media screen and (max-width: 1200px) {
  .attraction {
    width: 90%;
  }
}
