body {
  font-family: Arial, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

a {
  color: blue;
  text-decoration: none;
}
.box-link {
  color: white;
  text-decoration: none;
  background-color: #009e60;
  padding: 10px;
  display: inline-block;
}
