body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f9f9f9;
    color: #333;
}

header {
    background: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 20px;
}

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #f5f5f5;
    padding: 2rem;
}

#resultat {
    display: grid;
    grid-template-rows: repeat(2, 1fr); 
    grid-template-columns: repeat(2, 1fr); 
}

#valg_0, #valg_1, #valg_2, #valg_3 {
    padding: 3rem;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#valg_0 {
    background-color: #a6a6f68f;
    box-shadow: 0px 4px 6px rgba(166, 166, 246, 0.6);
}

#valg_1 {
    background-color: #ebf6a685;
    box-shadow: 0px 4px 6px rgba(235, 246, 166, 0.6);
}

#valg_2 {
    background-color: #a6eaf67d;
    box-shadow: 0px 4px 6px rgba(166, 234, 246, 0.6);
}

#valg_3 {
    background-color: #f6d2a67f;
    box-shadow: 0px 4px 6px rgba(246, 210, 166, 0.6);
}
#neste_spørsmål{

}
#neste_spørsmål{
    padding: 2rem;
    border-radius: 2rem;
    padding-top: 1rem;
}
#neste_og_tilbake{
display: flex;
justify-content: center;
align-items: center;
}

#tilbake{
    all: unset;
    padding: 2rem;
    border: solid black;
    margin-left: 4rem;
    border-radius: 2rem;
}

#neste_spørsmål:hover, #tilbake:hover{
    background: linear-gradient(180deg, #a6a6f68f, #ebf6a685, #a6eaf67d, #f6d2a67f);
}






    
