/* Generelle stiler */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

/* Header-stiler */
header {
    text-align: center;
    padding: 10px;
    background-color: #282c34;
    color: #fff;
}

header img {
    max-width: 80%;
    height: auto;
    margin: 20px auto;
    display: block;
}

/* Hovedinnhold */
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 30px;
}

h1, h2 {
    color: #555;
}

code {
    display: block;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    font-family: monospace;
}