.box {
  padding: 2rem;
  background-color: #f0f4f8;
  border-radius: 1rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  font-size: 30px;
}

.box:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0em 0.1em 0.3em rgba(0, 0, 0, 0.6);
  background-color: #48cae4;
}

.body-box {
  padding: 10rem;
  background-color: #f0f4f8;
}

footer {
  background-color: #2f4858;
  width: 100%;
  padding: 2rem;
  color: white;
}

ul li {
  list-style: none;
}

main {
  background-color: #ffffff;
  color: #333333;
}

.body-box {
  background-color: #d9e2ec;
}
