.box {
  padding: 2rem;
  background-color: rgb(96, 81, 81);
  border-radius: 1rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  font-size: 30px;
}
.box:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0em 0.1em 0.3em rgba(0, 0, 0, 0.6);
  background-color: rgb(192, 192, 192);
}
.body-box {
  padding: 10rem;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 3fr auto;
  grid-template-areas:
    "header header"
    "main   main"
    "footer  footer";
}
footer {
  background-color: rgb(121, 121, 121);
  width: 4rem;
}
ul li {
  list-style: none;
}
main {
  background-color: rgb(101, 118, 120);
}
.body-box {
  background-color: rgb(117, 136, 138);
}
.box.active {
  background-color: #007bff;
  color: white;
}
