* {
  box-sizing: border-box; 
}

body, html {
  overscroll-behavior: none;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  height: 100vh;
}

nav {
  background-color: #222;
  padding: 2rem;
  width: 100%;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
}

.nav li a:hover {
  background-color: rgb(50, 50, 50);
}

.nav .active {
  background-color: rgb(65, 65, 65);
}

