/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FARGER */
:root {
    --bg-main: #1e1f26;
    --bg-card: #2a2c35;
    --accent: #f4c067;
    --text-main: #ffffff;
    --text-muted: #bdbdbd;
}

/* BODY */
body {
    font-family: "Segoe UI", sans-serif;
    background-color: var(--bg-main);
    color: var(--text-main);
    line-height: 1.6;
}

/* NAVBAR */
nav {
    background: #181920;
    padding: 1rem 0;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: var(--text-muted);
    font-weight: 500;
    transition: color 0.3s;
}

.nav a:hover,
.nav a.active {
    color: var(--accent);
}

/* CONTAINER */
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* BUTTON */
.btn {
    display: inline-block;
    background: var(--accent);
    color: #000;
    padding: 0.7rem 1.5rem;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 1rem;
    transition: transform 0.2s, box-shadow 0.2s;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(244, 192, 103, 0.4);
}
