body {
  background-color: rgb(21, 21, 21);
  margin: 0;
  font-family: Arial, sans-serif;
}

p {
  color: white;
  width: 100%;
  max-width: 800px;
  object-fit: contain;
  padding: 1rem;
  background-color:rgb(30, 30, 30); ;
  border-radius: 10px;
 

 
}

h1 {
  color: white;
  text-align: center;
  font-size: 3rem;
  margin-top: 20px;
}

.bildegalleri {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-bottom: 4rem;
}

.bildegalleri img {
  width: 100%;
  max-width: 1200px;
  height: 700px;
  object-fit: contain;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.bildeinfo {
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 1rem;
  max-width: 700px;
}
 
.bilde_per_sekund{
  
}


@media (max-width: 600px) {
  .bildegalleri img {
    height: 300px;
  }

  .bildeinfo {
    font-size: 0.9rem;
    padding: 0 10px;
  }
}