* {
  box-sizing: border-box;
}

.slides {
  display: flex;
}

.slides > div {
  flex-shrink: 0;
  width: 100vw;
  height: 100vh;
  position: relative;

  /* Plassere bildene i midten på skjermen */
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  /* Setter høyden */
  height: 100%;
}

html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.main {
  background-color: black;
  margin-bottom: 10rem;
  padding-top: 2.5rem;
}
